<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My Portfolio</title>
    
    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="../static/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="../static/main.js"></script>

    <!-- Navigaton Panel-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Portfolio</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#health">Health</a></li>
                    <li><a href="#engage">Engage</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Home -->
    <div id="home" class="home">
        <div class="text-vcenter">
            <h1>{{name}}</h1>
            <h3>Welcome to my personal portfolio</h3>
        </div>
    </div>

    <!-- About -->
    <div id="about" class="pad-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-vcenter">
                    <img  id="profile" src="../static/images/CropSizeRender.png" />
                </div>
                <div class="col-sm-6">
                    <h2>About Me</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, ipsum curae hendrerit elit, ac tortor, 
                        nulla ipsum ad scelerisque, cras nec. Et habitant luctus leo, sed 
                        a in condimentum in ante augue, malesuada esse nec a.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Skills -->
    <div id="skills" class="pad-section">
        <div class="container">
            <h2 class="text-center">My Skills</h2> 
            <hr />
            <div class="row">
                <p>Skills Visual Goes Here</p>
            </div>
        </div>
    </div>


    <!-- Health -->
    <div id="health" class="pad-section">
        <div class="container">
            <h2 class="text-center">My Health</h2>
            <hr />
            <div class="row">
                <p>Health Visual Goes Here</p>
            </div>
        </div>
    </div>



    <!-- Engage -->
    <div id="engage" class="pad-section">
        <div class="container">
            <h2 class="text-center">Profiles</h2>
            <hr />
            <div class="row">
                <p>Social Media Accounts Go Here</p>
                <a id="twitter">Test</a>
                <p id="result"></p>
            </div>
        </div>
    </div>

</body>
</html>